// 01-Helper
@import './1-helpers/variables';
@import './2-layout/grids';

// 03-UI components
@import './3-UI/button';

// 04-Components
@import './4-components/add-journal-form';
@import './4-components/edit-journal-form';
@import './4-components/journal-entry';
@import './4-components/weather-widget';
@import './4-components/tabbar';
@import './4-components/recent-journals';
@import './4-components/searchbar';
@import './4-components/bookmarks';

//05-Pages
@import './5-pages/homepage';
@import './5-pages/journals';
@import './5-pages/detailspage';

// Typography
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $text-color_grey;
}

html body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: $background;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}
