.journal-content-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 160px;
  margin-bottom: 0.5rem;

  a {
    padding: 0 0.5rem;
  }
}

.journal-container {
  position: relative;
}

.journal-button-delete {
  position: absolute;
  bottom: -0.8rem;
  right: 0.5rem;
  height: 24px;
  width: 24px;
  border: none;
  outline: none;
  background: transparent;
}

.image-container {
  position: relative;

  img {
    height: 120px;
    width: 100px;
    object-position: 50% 50%;
    z-index: 50;
    padding-top: 0.5em;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 120px;
    left: -0.5em;
    bottom: 1.9em;
    background: $mint;
    z-index: -10;
  }
}

.journal_place,
.journal_date {
  font-size: 0.785rem;
  font-weight: 400;
  color: $text-color_grey;
  opacity: 60%;
  margin-top: 0.5rem;
}

.entry-image {
  height: 90px;
  width: 90px;
  align-self: center;
  border-radius: 10%;
}

.journal_entry {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 120%;
  color: $text-color;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 0.5rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.journal-button-update {
  width: 150px;
  padding: 7px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0.5em 0;
  cursor: pointer;
  color: $text-color_grey;
  background: $mint-blue;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.journal_caption {
  font-size: 1rem;
  font-weight: 500;
  color: $text-color;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -5;
    width: 30%;
    height: 5px;
    left: 0;
    bottom: 0;
    background: $mint;
    z-index: -10;
  }
}
