.journal-content-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 150px;

  a {
    padding: 0 0.5rem;
  }
}

.journal-container {
  position: relative;
}

.journal-button-delete {
  position: absolute;
  bottom: -0.8rem;
  right: 0.5rem;
  height: 24px;
  width: 24px;
  border: none;
  outline: none;
  background: transparent;
}

.image-container {
  position: relative;

  img {
    height: 110px;
    width: 100px;
    object-position: 50% 50%;
    padding: 0.8em 0.3em 0 0;
  }

  &:before {
    content: '';
    position: absolute;
    height: 105px;
    width: 100px;
    left: -0.5em;
    bottom: 1.8em;
    background: $mint;
    z-index: -10;
  }
}

.journal_place,
.journal_date {
  font-size: 0.785rem;
  font-weight: 400;
  color: $text-color_grey;
  opacity: 60%;
  margin-top: 0.5rem;
}

.entry-image {
  height: 90px;
  width: 90px;
  align-self: center;
  border-radius: 10%;
}

.journal_entry {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 120%;
  color: $text-color;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 0.5rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.journal-button-update {
  width: 150px;
  padding: 7px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0.5em 0;
  cursor: pointer;
  color: $text-color_grey;
  background: $mint-blue;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.journal_caption {
  font-size: 1rem;
  font-weight: 500;
  color: $text-color;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -5;
    width: 30%;
    height: 5px;
    left: 0;
    bottom: 0;
    background: $mint;
    z-index: -10;
  }
}

.journal-list {
  &__container {
    overflow-y: auto;
    height: 100%;
    padding: 2rem 0;
    @media screen and (min-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__item {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin: 0.5rem auto;
    overflow: hidden;
    padding: 6.5rem 0 0;
    position: relative;
    text-align: left;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

    &__body {
      background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        hsla(0, 0%, 33%, 0.618) 45%,
        hsla(0, 0%, 23%, 0.92)
      );
      height: 100%;
      padding: 2rem 1rem;

      &__place {
        color: rgba(255, 255, 255, 0.762);
        position: absolute;
        top: 0;
      }

      &__caption {
        color: rgba(255, 255, 255, 0.886);
        font-weight: 600;
        line-height: 1.5rem;
        max-width: 100%;
        width: max-content;
      }

      &__date {
        color: rgba(255, 255, 255, 0.886);
        font-size: 0.85rem;
      }
    }
  }
}
