.map-search {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  z-index: 5;

  @media screen and (min-width: 768px) {
    max-width: 400px;
  }

  div {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 0.25rem 0.5rem;
  }
}
