.recent-journals {
  max-width: 700px;
  grid-area: main2;
  width: 100%;
  height: 100%;
}

.recent-journal_container {
  justify-items: center;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 2rem;
}

.recent-image_container {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -5;
    width: 140px;
    height: 170px;
    left: -0.75em;
    bottom: -0.5em;
    background: $mint;
    z-index: -10;
  }
}

.recent-image {
  height: 150px;
  width: 140px;
  object-position: 50% 50%;

  z-index: 50;
}

.recent_place,
.recent_date {
  font-size: 0.785rem;
  font-weight: 400;
  color: $text-color_grey;
  opacity: 60%;
  margin-top: 0.5rem;
}
.recent_caption {
  font-size: 1rem;
  font-weight: 500;
  color: $text-color;
  margin-bottom: 0.5rem;
  position: relative;
}

.recent_entry {
  font-size: 0.785rem;
  font-weight: 500;
  color: $text-color;
  margin-bottom: 0.5rem;

  a {
    font-size: 0.75rem;
    font-weight: 400;
  }
}
