.searchbar-container {
  grid-area: header2;
  display: flex;
  justify-self: end;
  align-items: flex-end;
  padding: 1em 0;
}

.searchbar-formfield {
  position: relative;
  margin-right: -10px;
  height: 24px;
  max-width: 90%;
  border-radius: 5px;
  border: $border;
}

.searchbar-icon {
  height: 24px;
  cursor: pointer;
  z-index: 10;
}

.searchbar-inputfield {
  background: $background;
  position: absolute;
  border: none;
  padding: 0 1em;
  font-size: 1em;
  &:focus {
    outline: none;
  }
}
