.loader {
  grid-area: header2;
  height: 4rem;
}

.weather-wrapper {
  grid-area: header2;
  align-self: end;
  padding: 2rem 1rem;
}

.weather-title {
  color: $text-color_grey;
  opacity: 60%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  text-align: right;
  margin-top: 0.5rem;
}

.temp {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: -5px 0;

  p {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: right;
  }
}

.icon {
  position: absolute;
  height: 30px;
  left: 2.5rem;
}

@media (max-width: 700px) {
  .main {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .weather {
    text-align: right !important;
  }
}
