.weather-wrapper {
  grid-area: header2;
  align-self: center;
  padding: 1rem;
}

.weather-title {
  color: #333;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  text-align: right;
}
.main {
  max-width: 80vw !important;
}

.temp {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: -5px 0;

  p {
    width: 100%;
    text-align: right;
    position: relative;
  }
}

.icon {
  position: absolute;
  right: 130px;
  height: 30px;
}

@media (max-width: 700px) {
  .main {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .weather {
    text-align: right !important;
  }
}
