.not-found {
  grid-area: main;
  width: 500px;
  height: 400px;
}

.not-found-container {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  align-self: center;
  text-align: center;

  p {
    margin-bottom: 2rem;
    color: $text-color_grey;
  }
}

.not-found-link {
  font-size: 1.2rem;
  color: $mint-blue;
}
