.grid {
  justify-items: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 10% 60% 10%;
  grid-template-areas:
    'header1 header2'
    'main main'
    'main2 main2'
    'footer footer';
  margin: 0 1.5em;
  padding: 0;
}
