.weather {
  text-align: left !important;
}
.weather-title {
  color: #333;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.5rem;
}
.main {
  max-width: 80vw !important;
}

.temp {
  display: flex;
  align-items: center;
  font-size: 1.9rem;
  font-weight: bold;
  margin: -25px 0;
}
.temp_desc {
  margin: 10px;
}
.icon {
  padding: 0 10px;
}
@media (max-width: 700px) {
  .main {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
  }
  .weather {
    text-align: center !important;
  }
}
