@import './_variables';
@import './_add-journal-form';
@import './_journal-entry';

* {
  margin: 0;
  padding: 0;
}

html body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: $background;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

h3 {
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
