$text-link: #a3c2cc;
$text-color: #3c3c3c;
$text-color_grey: #414449;

$background: #f8f9fa;
$input-background: #f4f4f4;

$mint: #d4e3e3;
$mint-blue: #a3c2cc;
$beige: #f5f5f5;
$border: RGBA(204, 204, 204, 0.44);
