.button-cancel {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  height: 25px;
  width: 25px;
  background: transparent;
  border: none;
  outline: none;
}

.add-button-cancel {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background: transparent;
  border: none;
  outline: none;
}
