.weather-error {
  grid-area: header2;
  color: $text-color;
  font-size: 0.8rem;
}

.message-no-entries {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2,
  h3 {
    color: $text-color;
    text-align: left;
    font-size: 1rem;
  }
}
